<div id="todo-root">
    <div class="progress" style="margin: 40px auto; max-width: 200px;">
        <div class="indeterminate"></div>
    </div>
</div>

<div class='info tooltipped' data-position="right" data-tooltip="Double click text to Edit">
    <i class='material-icons'>info_outline</i>
</div>

<div class="fixed-action-btn" style="bottom: 25px; right: 24px;">
    <a href='#' class="btn-floating tooltipped new-todo-sheet" data-position="left" data-tooltip="New Todo sheet">
        <i class="tiny material-icons">add</i>
    </a>
</div>